body{
    background-color: rgb(38, 37, 40);
    color: white;
}


button{
    margin: 10px;
    background-color: black;
    color: white;
}

#current-page {
    font-size: 1.3em;
    color: white !important;
    margin-right: 10px;
    margin-left: 10px;
}